.container {
  width: 400px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,.3);
  background: black;
  color: whitesmoke;
  font-family: gordita,Helvetica Neue,Helvetica,sans-serif;
  text-align: center;
}

button {
  padding: 5px;
  background: 	rgb(0,0,0);
  color: whitesmoke;
  border: 2px solid rgba(255,0,255,.6);
  border-radius: 10px;
}

button:hover {
  transform: scale(1.1);
  border-color: rgb(186,85,211);
}

.cat-container {
  display: flex;
  border: 1px solid purple;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid rgba(238,130,238,.65);
  margin-top: 15px;
  box-shadow: 0px 10px 50px rgba(153,50,204,.6);
}